@model phone_BETA_1.Models.SANPHAM

@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> CHI TIẾT SẢN PHẨM </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_SP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price_SP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year_SP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year_SP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraGop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraGop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuKien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuKien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img style="object-fit: cover;" src="@Url.Content(Model.Photo)" width="600" height="315" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "SuaSanPham", new { id = Model.ID_SP }) |
    @Html.ActionLink("Quay về", "SanPham", "NHANVIEN")
</p>
