@{
    Layout = null;
    if (Session["ID_Customer"] == null)
    {
        Response.Redirect("~/CLIENT/SignIn");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TÀI KHOẢN KHÁCH HÀNG </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("LogOut","CLIENT")"> Đăng xuất </a></li>
                    <li><a href="@Url.Action("Edit","CLIENT", new { id = Session["ID_Customer"] })"> Thông tin tài khoản </a></li>
                    <li><a href="@Url.Action("HoaDon", "KHACHHANG", new { id = Session["ID_Customer"] })"> Hóa đơn khách hàng </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year MinhLOGI - Bảo lưu bản quyền</p>
            <p> Tên đăng nhập: @Session["Log_Customer"] </p>
            <p> HÔM NAY, NGÀY @DateTime.Now.ToString("dd-MM-yyyy") </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
