
@{
    ViewBag.Title = "TimKiemSanPham_HSX";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

    @using (Html.BeginForm("TimKiemSanPham_HSX", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th> Tên sản phẩm </th>
                <th> Giá sản phẩm </th>
                <th> Trả góp </th>
                <th> Ảnh </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name_SP</td>
                    <td>@item.Price_SP</td>
                    <td>@item.TraGop</td>
                    <td><a href="@Url.Action("Details", "Home", new {  id = item.ID_SP })"><img style="object-fit: cover;" src="@Url.Content(item.Photo)" width="200" height="105" /></a></td>
                    <td style="text-align: center;">@Html.ActionLink("Thêm vào giỏ", "OrderNow", "Cart", new { id = item.ID_SP }, null)</td>
                </tr>
            }
        </table>
    }

