@model IEnumerable<phone_BETA_1.Models.SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<h2> Top Sản phẩm bán chạy nhất. </h2>

<table>
    <tr>
        <td> Tên sản phẩm: </td>
        <td> Giá tiền: </td>
        <td> Trả góp: </td>
        <td> Ảnh: </td>
    </tr>
    @foreach (phone_BETA_1.Models.SANPHAM item in ViewBag.listProducts)
    {
        <tr>
            <td>@item.Name_SP</td>
            <td>@item.Price_SP</td>
            <td>@item.TraGop</td>
            <td><a href="@Url.Action("Details", "Home", new {  id = item.ID_SP })"><img style="object-fit: cover;" src="@Url.Content(item.Photo)" width="600" height="315" /></a></td>
            <td style="text-align: center;">@Html.ActionLink("Thêm vào giỏ", "OrderNow", "Cart", new { id = item.ID_SP }, null)</td>
        </tr>
    }
</table>

<p style="color: red;"><marquee><strong> IM MỒM LẠI VÀ ĐƯA TIỀN CHO CHÚNG TÔI </strong></marquee></p>



