@model phone_BETA_1.Models.NHANVIEN

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title> ĐĂNG KÝ NHÂN VIÊN </title>

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <!--===============================================================================================-->

    <style>
        body {
            background-size: cover;
        }
    </style>

</head>
<body background="~/Content/img3.jpg">

    @using (Html.BeginForm("SignUp", "ADMIN", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="limiter">
            <div class="container-login100" style="background-image: url('images/img.jpg');">
                <div class="wrap-login100 p-t-190 p-b-30">
                    <form class="login100-form validate-form">
                        <br>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100" id="Name_Admin" name="Name_Admin" type="text" value="" placeholder="Họ tên nhân viên" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10">
                            <select htmlattributes="{ class = form-control }" id="Sex" name="Sex" class="input100" aria-invalid="false">
                                <option value="Nam"> Nam </option>
                                <option value="Nữ"> Nữ </option>
                            </select>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100" data-val="true" data-val-date="Ngày sinh phải ở dạng Ngày/Tháng/Năm." id="DateOfBirth" name="DateOfBirth" type="date" value="" placeholder="Ngày sinh" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100" data-val="true" data-val-date="Ngày làm việc phải ở dạng Ngày/Tháng/Năm." id="DateOfWork" name="DateOfWork" type="date" value="" placeholder="Ngày bắt đầu làm việc" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-10">
                            <input class="input100" id="Salary" name="Salary" type="text" value="" placeholder="Mức lương" />
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>

                        <div class="container-login100-form-btn p-t-10">
                            <button class="login100-form-btn" type="submit" onclick="myFunction()"> Đăng ký </button>
                        </div>
                        <div class="text-center w-full">
                            <br>
                            <a class="txt1" href="@Url.Action("SignIn","ADMIN")"> Quay về <i class="fa fa-long-arrow-left"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script>
        function myFunction() {
            alert("Đăng ký thành công. Chờ trong giây lát để hệ thống liên hệ với bạn và cung cấp thông tin tài khoản. Vui lòng đăng nhập xong hãy thay đổi mật khẩu để đảm bảo riêng tư.");
        }
    </script>

    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/main.js"></script>

</body>
</html>
