@model phone_BETA_1.Models.KHACHHANG

@{
    ViewBag.Title = "CT_KhachHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Chi tiết khách hàng </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quay về", "KhachHang")
</p>



