@model IEnumerable<phone_BETA_1.Models.HANG_SX>

@{
    ViewBag.Title = "HangSX";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HangSX</h2>

<p>
    @Html.ActionLink("Tạo mới", "ThemHangSX")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_HSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_HSX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_HSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_HSX)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaHangSX", new {  id=item.ID_HSX  }) 
        </td>
    </tr>
}

</table>
