@model IEnumerable<phone_BETA_1.Models.HOADON>

@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> TỔNG HỢP HÓA ĐƠN CÁC KHÁCH HÀNG: </h2>
<a href="@Url.Action("TimKiemHoaDon", "NHANVIEN")" style="color: red;"><strong> Tìm kiếm theo ngày và tên khách hàng </strong></a>
<br>
<a href="@Url.Action("TimKiemHoaDon_Ngay", "NHANVIEN")" style="color: red;"><strong> Tìm kiếm theo ngày </strong></a>
<br>
<a href="@Url.Action("TimKiemHoaDon_Name", "NHANVIEN")" style="color: red;"><strong> Tìm kiếm theo tên khách hàng </strong></a>
<br>
<a href="@Url.Action("TimKiemHoaDon_TinhTrang", "NHANVIEN")" style="color: red;"><strong> Tìm kiếm theo tình trạng </strong></a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_HD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_HD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "SuaHoaDon", new { id = item.ID_HD }) |
                @Html.ActionLink("Chi tiết", "ChiTietHoaDon", new { id = item.ID_HD }) |
            </td>
        </tr>
    }

</table>
