@model IEnumerable<phone_BETA_1.Models.LOAIHANG>

@{
    ViewBag.Title = "LoaiHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoaiHang</h2>

<p>
    @Html.ActionLink("Tạo mới", "ThemLoaiHang")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_LH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_LH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_LH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_LH)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaLoaiHang", new {  id=item.ID_LH  }) 
        </td>
    </tr>
}

</table>
