
@{
    ViewBag.Title = "TimKiemHoaDon_Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Danh sách hóa đơn </title>
</head>
<body>
    @using (Html.BeginForm("TimKiemHoaDon_Name", "NHANVIEN", FormMethod.Post))
    {
        <span>Customer Name:</span> @Html.TextBox("NameCustomer")
        <input type="submit" value="Tìm kiếm" />
        <br />
        <br />
        <table cellpadding="0" cellspacing="0" class="table">
            <tr>
                <th> Mã hóa đơn </th>
                <th> Tên khách hàng </th>
                <th> Ngày thanh toán </th>
                <th> Số điện thoại </th>
                <th> Mã khách hàng </th>
                <th> Địa chỉ </th>
                <th> Email </th>
                <th> Tình trạng </th>
                <th> Tổng tiền </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID_HD</td>
                    <td>@item.Name_Customer</td>
                    <td>@item.DateCreate</td>
                    <td>@item.SDT</td>
                    <td>@item.ID_Customer</td>
                    <td>@item.DiaChi</td>
                    <td>@item.Email</td>
                    <td>@item.TinhTrang</td>
                    <td>@item.TongTien</td>
                    <td>
                        |
                        @Html.ActionLink("Chi tiết", "ChiTietHoaDon", new { id = item.ID_HD })
                        @Html.ActionLink("Hủy", "HuyHoaDon", new { id = item.ID_HD })
                    </td>
                </tr>
            }
        </table>
    }
</body>
</html>

